<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page Not Found</title>
<%= stylesheet_link_tag "pagenotfound", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    
</head>

<body>

<div class="robot-container">

<div class="robot">

<div class="robot-top-head">
<div class="numone robot-top"></div>
<div class="numtwo robot-top"></div>
<div class="numthree robot-top"></div>
<div class="numfour robot-top"></div>
<div class="numfive robot-top"></div>
<div class="numsix robot-top"></div>
<div class="numseven robot-top"></div>
<div class="numeight robot-top"></div>


</div>


<div class="robot-head">
<div class="robot-eyes">
<div class="robot-lefteye">
<div class="eye-ball"></div>
</div>
<div class="robot-righteye">
<div class="eye-ball"></div>
</div>
</div>
<div class="robot-mouth"></div>
</div>
<div class="robot-neck"></div>
<div class="robot-body">

<div class="robot-lefthand">
<div class="robot-left-hand"></div>
<div class="lefthand-grip"></div>

</div>

<div class="robot-stomac">
<div class="robot-body-part"></div>
<div class="robot-body-part"></div>
<div class="robot-body-part"></div>
</div>
<div class="robot-righthand">
<div class="righthand-grip"></div>
<div class="robot-right-hand"></div>
</div>

</div>
<div class="robot-legs">
<div class="robot-leftleg">
<div class="robot-left-leg"></div>
<div class="robot-left-foot"></div>
</div>
<div class="robot-rightleg">
<div class="robot-right-leg"></div>
<div class="robot-right-foot"></div>
</div>
</div>

</div>

<div class="robot-board">

<div class="robo-error-num">
<p class="firstfour">4</p>
<p class="firstzero">0</p>
<p class="secondfour">4</p>
</div>


<p class="notfound-text">Page Not Found Go Back</p>


</div>

</div>
</body>

</html>