* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  background-color: #0f0309;
}

.search-menu {
  width: 80%;
  display: flex;
  margin: auto;
  
}


.menu img {
  width: 100%;
  height: 3rem;
}
.menu {
  border: none;
  width: 3rem;
  background-color: #0f0309;
}

.main-container {
  width: 100vw;
  background-color: #0f0309;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  
}

.signin-text {
  background-color: rgb(34, 33, 33);
  color: white;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
}
.signin-button {
  border-radius: 5px;
  margin: 0.5rem;
  background-color: rgb(34, 33, 33);
  border: 1px solid rgb(57, 56, 56);
}
.logout {
  border-radius: 5px;
  margin: 0.5rem;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgb(34, 33, 33);
  border: 1px solid rgb(57, 56, 56);
}

.no-data-homepage{
  color: white;
  
}

.watchlist {
  color: black;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  padding: 0.5rem;
  width: 93%;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.add-movie-button,.your-review-button{
  padding: 0.5rem;
  background-color: rgb(34, 33, 33);
  color: white;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid rgb(57, 56, 56);
  margin: 0.7rem;
}

.searchbox {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
 
  border: 1px solid black;
  border-radius: 5px;
}
.searchbox #search {
  padding:  0.2rem 0.4rem ;
  width: 60%;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
  border-radius: 5px;

  border: none;
}
.searchbox {
padding: 0.7rem 0;
  width: 75%;
  border: none;
margin-left: 20px;
margin-top: 5px;
  outline: none;
  background-color: white;
}



#filtertype,
#sorttype,#dropdown {
  border: none;
  outline: none;
  color: white;
  padding: 1rem 0;
  width: 50%;

  background-color: rgb(34, 33, 33);

  font-family: "Roboto Condensed", sans-serif;
}

.container {
  background-color: #0f0309;
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
  position: relative;
}

.card-container {
  width: 15rem;
  height: 30rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 4px solid white;
  
}
.card-container:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
    transform: scale(0.9);
  transition-duration: 0.7s;
}

.poster {
  width: 100%;
  height: 70%;
}
#label-sort,
#label-filter,#label-type {
  padding: 1rem 0;
  font-family: "Roboto Condensed", sans-serif;
}

.poster img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 27%;
  color: white;
}

.title {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.year {
  font-size: 0.9rem;
  margin: 0.5rem;

  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

#type {
  color: white;
  font-size: 0.9rem;
  margin: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

.close {
  color: white;
  text-align: right;
  padding: 1rem;
}

.mysidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar {
  width: 70%;
}

.sort,
.filter,.drop {
  text-align: center;
  margin: 0.5rem;
  background-color: rgb(34, 33, 33);
  border: 1px solid rgb(57, 56, 56);
}

.button-disable {
  background-color: rgb(10, 10, 10);
  color: rgb(51, 50, 50);
}

@media (min-width: 768px) {
  .search-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .signin-text {
    padding: 0.6rem;
    background-color: rgb(34, 33, 33);
    color: white;
    font-size: 1rem;
  }
  .watchlist {
    width: 94%;
  }

  .searchbox {
    width: 30rem;
    display: flex;
    margin-left: 80px;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
  }
  .menu {
    width: 3rem;
  }

  .signin-button {
    width: 80%;
  }
  .logout {
    width: 80%;
  }

  .add-movie-button,.your-review-button {
    width: 80%;
  }

  #filtertype,
  #sorttype,#dropdown {
    margin: 0 1rem 1rem 1rem;
  }

  .container {
    gap: 2rem;
    width: 90%;
    justify-content: flex-start;
  }

  .card-container {
    width: 19rem;

    height: 30rem;
  }

  .poster img {
    width: 100%;
    height: 100%;
  }

  .searchbox #search {
    flex: 10;
  }
  .searchbox .search-button {
    flex: 1;
  }

 

  .poster {
    height: 70%;
  }
  .content {
    height: 27%;
  }

  .title {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 0;
    color: white;
  }
  .year {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.5rem;
    color: white;
  }

  #type {
    color: white;
    font-size: 0.9rem;
  }
  .sidebar {
    width: 20%;
  }

  .sort,
  .filter,.drop {
    margin: 1rem 0.6rem;
    padding: 0.7rem;
    width: 70%;
  }
  #filtertype,
  #sorttype,#dropdown {
    width: 40%;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  #label-sort,
  #label-filter,#label-type {
    padding: 0;
    font-size: 0.9rem;
  }
}
