* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  color: white;
  background-color: rgb(57, 56, 56);
}
.maincontainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.my-star{
  font-size: 16px;
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  width: 100vw;
  margin: 0;

  background-color: rgb(57, 56, 56);
}
.title {
  margin: 0;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}
.poster {
  display: flex;

  justify-content: center;
}
.poster img {
  width: 100%;
  height: 17rem;

  margin: 1rem;
}

.imdb-rating {
  font-size: 0.9rem;
  font-family: "Roboto Condensed", sans-serif;
}
.time {
  font-size: 1rem;
  color: gray;
  font-family: "Roboto Condensed", sans-serif;
}
.year {
  font-size: 0.8rem;
  color: gray;
  font-family: "Roboto Condensed", sans-serif;
}
.plot {
  margin: 1rem 0;
}
.movie-plot {
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0.5rem;
}
.actors {
  font-size: 1rem;
  margin: 0.5rem;
}
.actors ul {
  font-size: 0.9rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 2rem;
  list-style-type: none;
  gap: 0.6rem;
}

.genre {
  font-size: 1.3rem;
}
.genre ul {
  display: flex;
  font-size: 1rem;
  /* margin: 1rem; */
  /* margin-left: 2rem; */
  font-family: "Roboto Condensed", sans-serif;
}
.genre li {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 20px;
  width: 30%;
  margin: 0.3rem;
  padding: 0.5rem;
}
.director,
.language {
  margin: 1rem;
  font-size: 0.9rem;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  border-radius: 5px;
  border-top: 1px solid rgb(100, 96, 96);
  padding: 0.5rem;
}
.time-year {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  gap: 2vw;
}

.writer {
  margin: 1rem;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  border-top: 1px solid rgb(100, 96, 96);
  padding: 0.5rem;
}
.close {
  color: #0a0909;
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: rgb(249, 4, 4);
  text-decoration: none;
  cursor: pointer;
}
.signin-text {
  padding: 0.3rem;
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
}
.sigin-nouser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signin-text-button {
  border: none;
  outline: none;
  margin: 10px;
}

.modal-nouser {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-nouser-content {
  background-color: #fefefe;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #888;
  width: 70%;
  border-radius: 5px;
  max-width: 600px;
  font-family: "Roboto Condensed", sans-serif;
}

.modal-box {
  display: block;
}
.search-reviews {
  padding: 0.5rem;
  margin: 0.7rem;
  font-family: "Roboto Condensed", sans-serif;
}

.user-rate {
  background-color: rgb(57, 56, 56);
  color: white;
  padding: 10px;
  border: none;
  margin: 10px;
}

.user-rate-text {
  font-size: 1.2rem;
}

.modal-rate {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  display: block;
}

.modal-content-rate {
  background-color: #fefefe;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  height: 20%;
  max-width: 600px;
  font-family: "Roboto Condensed", sans-serif;
}

.submit-rate{
  background-color: #deb217;
  border: none;
  padding: 7px;
  margin:0 20px;
}

/* .rate-text-cancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
} */

.genre-plot {
  padding: 10px;
}
.navbar-for-all{
  width: 98vw;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(20, 21, 21) 0px 0px 0px 1px inset;
    display: flex;
    align-items: center;
 padding: 10px;
}
.navbar-home{
  cursor: pointer;
  width: 45%;
display: flex;
justify-content: flex-start;
margin-left: 10px;
}
.navbar-logout{
 
 width: 45%;
display: flex;
justify-content: flex-end;

}
.navbar-logout-button{
  padding: 5px;
  border: none;
    cursor: pointer;
  outline: none;
  background-color: white;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .movie {
    width: 80%;

    margin: auto;
    padding: 1rem;
  }

  .poster {
    flex: 1;

    display: flex;
    justify-content: center;
  }
  .genre-plot {
  
    flex: 1;
  }

  .poster img {
    width: 20rem;
    height: 50vh;
  }
  .details {
    width: 70%;
    /* margin: 1rem; */
  }
  .poster-image {
    width: 100%;
    display: flex;
  }
 
  .imdb-rating {
    font-size: 1.4rem;
  }
  .time {
    font-size: 1.2rem;
  }

  .search-reviews {
    padding: 1rem;
  }
  .movie-plot {
    font-weight: 600;
    margin: 2rem 0.3rem;
    font-size: 1rem;
  }
  .actors {
    font-size: 1.3rem;
  }
  .actors ul {
    font-size: 1rem;
  }

  .director,
  .language {
    font-size: 1.3rem;
  }
  .genre ul {
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0;
    width: 94%;
  }

  .writer {
    font-size: 1.2rem;
  }

  .year {
    font-size: 1.2rem;
  }

  .user-rate {
    margin: 10px;
  }

  .modal-nouser-content {
  
    width: 22%;
  }


  .user-rate-text {
    font-size: 1.5rem;
  }


.navbar-for-all{

 padding: 17px;
}
.navbar-home p{
font-size: 25px;
}

.navbar-logout-button{
  padding: 10px;

}


}

.rate-text-cancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  /* float: right; */
  height: 12px; /* Updated height */
  padding: 0 25px; /* Updated padding */
}

input[type="radio"] {
  position: absolute;
  top: -20px;
}

label[ title="text"] {
  float: right;
  width: 0.8em; /* Updated width */
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 16px; /* Updated font-size */
  color: #ccc;
}

label[title="text"]:before {
  content: "★ ";
}

input[type="radio"]:checked ~ label {
  color: red;
}



input[type="radio"]:checked + label:hover,
input[type="radio"]:hover ~ label {
  color: blue;
}
