<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= stylesheet_link_tag "movie", "data-turbo-track": "reload" %>
</head>

<body>
<button onclick="handleClick()" class="back-button">Back</button>
    <div class="container">

    </div>
    <div>
    <button id="open-review-modal" class="open-review-button">Add Review</button>
    <div id="review-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="add-review-text">Add Review</h2>
            <form id="review-form">
                <label for="name" class="label">Name:</label><br>
                <input type="text" id="name" class="input-box" placeholder="Enter Name" required>
                <br>
                <label for="review" class="label">Review:</label><br>
                <textarea id="review" class="input-box" required></textarea>
                <br>
                <button type="submit" class="submit-button">Submit Review</button>
            </form>
        </div>
    </div>
    <div class="review-container">

    </div>
</div>
    <%= javascript_include_tag "movie", "data-turbo-track" => "reload" %>
</body>

</html>