<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= stylesheet_link_tag "movie", "data-turbo-track": "reload" %>
</head>

<body>
<button onclick="handleClick()" class="back-button">Back</button>
    <div class="container">

    </div>
    <%= javascript_include_tag "movie", "data-turbo-track" => "reload" %>
</body>

</html>