<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= stylesheet_link_tag "movieAdd", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="container">


<nav>
<div class="navbar-for-all">
<div class="navbar-home" onclick="handlehome()">
<p>🏠</p>
</div>
<div class="user-allreviews-heading">
<h1>Add Movies</h1>
</div>
   <div class="navbar-logout">
  <% if  cookies[:user] %>    
        <button onclick="deleteCookie()" class="navbar-logout-button">Log out</button>
     
  <% end %>
</div> 
</div>
</nav>



      <div class="movie-success">
      <p>Movie Add Successfully </p>
      </div>
        <div class="main-container">

        <form id="add-movie-form" novalidate>
        <div>
            <div class="input-container">
                <label class="label" for="title">Title : </label>
                <input type="text" class="movieadd-input-box" id="title" placeholder="Enter the Movie Title" required>
                </div>
             
                <p id="title-error" class="error-message-alert">enter valid one </p>

        </div>
         <div>
            <div class="input-container">
                <label class="label" for="actors">Actors : </label>
                <input type="text" class="movieadd-input-box" id="actors" placeholder="Enter the Actors" required>
                </div>
                <p id="actors-error" class="error-message-alert">enter valid one</p>

         </div>
         
        <div class="input-container">
                <label class="label" for="country">Country : </label>
                <select class="movieadd-select-box" id="country" required>
                    <option value="">Select a country</option>
                    <option value="USA">USA</option>
                    <option value="UK">UK</option>
                    <option value="india">India</option>
                    <option value="Australia">Australia</option>
                    <option value=" Argentina"> Argentina</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Algeria">Algeria</option>
                    <option value="Brazil">Brazil</option>
                  </select>
                 
        </div>
        <div>
            <div class="input-container">
                <label class="label" for="director">Director : </label>
                <input type="text" class="movieadd-input-box" id="director" placeholder="Enter the Director of the Movie" required>
                </div>
                <p id="director-error" class="error-message-alert">enter valid one</p>

        </div>
        <div>
            <div class="input-container">
                <label class="label" for="language">Language : </label>
                <input type="text" class="movieadd-input-box" id="language" placeholder="Enter the Language" required>
                </div>
                <p id="language-error" class="error-message-alert">enter valid one</p>

        </div>
        <div>
            <div class="input-container">
                <label class="label" for="plot">Plot : </label>
                <input type="text" class="movieadd-input-box" id="plot" placeholder="Enter the movie Plot" required>
                </div>
                <p id="plot-error" class="error-message-alert">enter valid one</p>

        </div>
        <div>
            <div class="input-container">
                <label class="label" for="released">Released : </label>
                <input type="date" class="movieadd-input-box" id="released" placeholder="Enter the  released date" required>
                </div>              
                <p id="released-error" class="error-message-alert">enter valid one</p>

        </div>
        <div>
            <div class="input-container">
                <label class="label" for="runtime">Runtime : </label>
                <input type="number" class="movieadd-input-box" id="runtime" placeholder="Enter the Runtime in minutes" required>
                </div>
                <p id="runtime-error" class="error-message-alert">enter runtime in minutes</p>

        </div>
        <div>
            <div class="input-container">
                <label class="label" for="movie-type">Type : </label>
                <input type="text" class="movieadd-input-box" id="movie-type" placeholder="Enter the movie Type" required>
                </div>
                <p id="movie-type-error" class="error-message-alert">enter valid one</p>

        </div>
        <div>
            <div class="input-container">
                <label class="label" for="writer">Writer : </label>
                <input type="text" class="movieadd-input-box" id="writer" placeholder="Enter the Writer" required>
                </div>
                <p id="writer-error" class="error-message-alert">enter valid one</p>

        </div>
        <div>
            <div class="input-container">
                <label class="label" for="genre">Genre : </label>
                <input type="text" class="movieadd-input-box" id="genre" placeholder="Enter the Genre" required>
                </div>
                <p id="genre-error" class="error-message-alert">enter valid one</p>

        </div>
          <div>
            <div class="input-container">
                <label class="label" for="poster">Poster : </label>
                <input type="text" class="movieadd-input-box" id="poster" placeholder="Enter the poster url" required>
                </div>
                <p id="poster-error" class="error-message-alert">enter proper url</p>

        </div>
      

        <div class="button-container">
                <button  class="submit-button"  type="submit">Submit</button>
        </div>

        </form>
    </div>
    </div>
   
    <%= javascript_include_tag "movieAdd", "data-turbo-track" => "reload" %>

</body>

</html>